# Git files
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data (not needed inside container unless required)
MLOPS Project/Data/

# Local MLflow artifacts
mlruns/
mlflow.db

# Docker files themselves
Dockerfile.*
docker-compose.yaml
